/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #020617;
    font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0891b2;
}